/** DIVS PAULA IMAGE**/

/** LOCALIZACION CONTAINER**/
.paula-image-localizacion{
    width: fit-content;
    height: 30px;
    backdrop-filter: blur(15px);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 25px;
    border-radius: 10px;
    font-family: var(--poppins-font);
    color: rgb(110, 110, 110);
    position: relative;
    top: -70%;
    left: 5%;
    
    animation: fade_in 0.5s ease-in-out,subirBajar 4s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.45),
    0px 0px 20px rgba(245, 245, 245, 0.450),
    0px 0px 30px rgba(245, 245, 245, 0.450),
    0px 0px 50px rgba(245, 245, 245, 0.450);
}
.localizacion-info h2{
    font-size: 14px;
    font-weight: 500px;
}
.localizacion-info p{
    font-size: 12px;
}




/** PAULA PHOTO**/
.header-photo figure img{
    width: 635px;
    animation: top_to_bottom 0.5s ease-in-out;
}





/** FARMACIA FLOATING CONTAINER**/
.farmacia-icono{
    width: fit-content;
    height: 50px;
    position: relative;
    border-radius: 50px;
    top: -95%;
    left: 70%;
    animation: fade_in .75s ease-in-out,subirBajar 4s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgba(103, 255, 209, 0.450),
    0px 0px 20px rgba(103, 255, 209, 0.450),
    0px 0px 30px rgba(103, 255, 209, 0.450),
    0px 0px 50px rgba(103, 255, 209, 0.450);
}
.farmacia-icono img{
    width: 50px;
}




/** MAIL FLOATING CONTAINER**/
.mail-div{
    position: relative;
    width: fit-content;
    padding: 15px;
    top: -70%;
    left: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(110, 110, 110);
    font-family: var(--poppins-font);
    border-radius: 10px;
    animation: fade_in 0.45s ease-in-out,subirBajar 4s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.45),
    0px 0px 20px rgba(245, 245, 245, 0.450),
    0px 0px 30px rgba(245, 245, 245, 0.450),
    0px 0px 50px rgba(245, 245, 245, 0.450);
}
.mail-logo{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
}
.mail-div img{
    width: 30px;
}
.mail-div .mail-info h2{
    font-size: 14px;
}
.mail-div .mail-info p{
    font-size: 12px;
}




/**PARAFARMACIA SECTION**/
.parafarmacia-container{
    position: relative;
    width: fit-content;
    padding: 15px;
    top: -70%;
    left: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: rgb(110, 110, 110);
    font-family: var(--poppins-font);
    border-radius: 10px;
    animation: fade_in 0.65s ease-in-out,subirBajar 4s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.45),
    0px 0px 20px rgba(245, 245, 245, 0.450),
    0px 0px 30px rgba(245, 245, 245, 0.450),
    0px 0px 50px rgba(245, 245, 245, 0.450);
    
}
.parafarmacia-logo img{
    width: 40px;
}
.parafarmacia-main-info{
    display: flex;
    gap: 10px;
}
.parafarmacia-main-info h2{
    font-size: 14px;
}
.parafarmacia-main-info p{
    font-size: 12px;
}
