@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color : #ae8a94;
    --secondary-color : #ffe4eb;
    --third-color : #FAACC4;
    --fourth-color : #c44466;
    --fifth-color : #732634;
    --sixth-color : #8a6781;
    --black-color : black;
    --gray-color : #808080;
    --pink-color : #f07398;
    --cascadia-font : 'Cascadia code',sans_serif;
    --poppins-font : 'Poppins',sans_serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/** HEADER SECTION **/

/* Esta sección contiene todo el código css correspondiente con el header de la web, y con su información principal */
.header{
    height: 72vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}



/**HEADER NAV SECTION**/
.header-nav-section{
    max-width: 70vw;
    height: 18dvh;
}
/*Que se ajute 100% tanto en altura como en anchura al padre que es la sección*/
.header-nav{
    width: 70vw;
    height: 100%;
    display: flex;
    padding: 1vw 1.5vh;
}
.header-nav-logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-logo{
    width: 300px;
    display: flex;
}
.header-nav-login-buttons{
    display: flex;
    gap: 15px;
}
.header-nav-navigation-list{
    width: 70%;
    height: 100%;
}
.haeder-nav-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.1em;
}
.haeder-nav-list li a{
    text-decoration: none;
    color: var(--sixth-color);
    /* Voy a cambiar la fuente en todo el documento*/
    font-family: var(--cascadia-font);
    transition: 0.3s ease;
    position: relative;
}






/** Hover con el color principal **/
.hover-main-color:hover{
    color: var(--fifth-color);
}
.hover-main-color::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: var(--fifth-color);
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}
.hover-main-color:hover::after {
	width: 100%;
	left: 0;
}







/** ARTICLE MAIN INFO**/
.header-resume{
    width: 100%;
    height: 62vh;
    display: flex;
}
.header-resume .header-main-info{
    width: 50%;
    height: fit-content;
    margin-top: 7.5vh;
    padding: 20px;
    font-family: var(--poppins-font);
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.header-resume .header-main-info .header-main-info-title{
    font-size: 44px;
    font-weight: bold;
    color: var(--fourth-color);
    line-height: 50px;
    animation: left_to_rigth 0.5s ease-in-out;
}
.header-main-info-title span{
    color: var(--fifth-color);
}
.header-resume .header-main-info p{
    font-size: 22px;
    animation: top_to_bottom .75s ease-in-out;
}










/** MARCAS STYLE **/
.brands-container{
    width: 100%;
    height: fit-content;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 20px;
}
.brands-container h3{
    font-weight: normal;
    font-size: 16px;
    font-family: var(--poppins-font);
    color: var(--gray-color);
}
.brands-container-list{

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
}
.brands-container-list li img{
    width: 150px;

}




/** ANIMACIONES **/
@keyframes subirBajar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes left_to_rigth {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes top_to_bottom {
    
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bottom_to_top {
    
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bottom_to_top_slowed {
    
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    80%{
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade_in {
    
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


